
<ion-card>

  <ion-card-header>
    <ion-card-subtitle>
      <span>{{ indice + 1 }}. </span>
      <span class="noticias-source-name">{{ noticia.source.name }}</span>

      <div class="noticia-more">
        <ion-button fill="clear" (click)="lanzarMenu()">
          <ion-icon slot="icon-only" 
                    name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-card-subtitle>
    <ion-card-title (click)="abrirNoticia()">{{ noticia.title }}</ion-card-title>
  </ion-card-header>
  
  <ion-img  *ngIf="noticia.urlToImage"
            (click)="abrirNoticia()"
            [src]="noticia.urlToImage"></ion-img>
  
  <ion-card-content>
    <p>{{ noticia.description }} </p>
  </ion-card-content>

</ion-card>