<ion-header [translucent]="true" 
            class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Cirex News | {{ seccion }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="darkModeService.setDarkTheme()"
                  *ngIf="!darkModeService.darkMode">
        <ion-icon slot="icon-only" name="moon"></ion-icon>
      </ion-button>
      <ion-button (click)="darkModeService.setDarkTheme()"
                  *ngIf="darkModeService.darkMode">
        <ion-icon slot="icon-only" name="sunny"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  
</ion-header>