<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="location"></ion-icon>
      <ion-label>Argentina</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Mundo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
