<ion-grid>
  <ion-row>
    <ion-col *ngFor="let noticia of noticias; let i = index"
             size="12" size-lg="4" 
             size-md="4" size-md="6" size-xs="12">
      
      <app-noticia [noticia]="noticia" 
                   [indice]="i"></app-noticia>
    
    </ion-col>
  </ion-row>
</ion-grid>