<app-header seccion="Mundo"></app-header>

<ion-content [fullscreen]="true">

  <ion-segment scrollable 
                mode="md" 
                color="tertiary"
                (ionChange)="cambioCategoria($event)">
      <ion-segment-button *ngFor="let categoria of categorias"
                          mode="md"
                          [value]="categoria">
        <ion-label>{{ categoria }}</ion-label>
     </ion-segment-button>

  </ion-segment>

  <app-noticias [noticias]="noticias"></app-noticias>

  <ion-infinite-scroll threshold="150px" 
  (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content color="light" loadingSpinner="bubbles" loadingText="Cargando noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
