<app-header seccion="Argentina"></app-header>

<ion-content [fullscreen]="true">
 
  <app-noticias [noticias]="noticias"></app-noticias>
  
  <ion-infinite-scroll threshold="150px" 
                       (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content color="light" loadingSpinner="bubbles" loadingText="Cargando noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
